label{
    width:150px;
}

#left-employer{
    height:200px;width:500px;float:left;
    margin-top: 10em;
    
}

#right-contact{
    width:300px;float:left;
    border-top: 40em;
}

#wrapper{
    margin:5em
}
